.ser-1{
    margin-right: 78%;
}
.ser-2{
    margin-right: 35%;
}
.ser-3{
   margin-right: 42%;
}
.ser-4{
    margin-right: 55%;
}
.ser-5{
    margin-right: 54%;
}
.ser-6{
    margin-right: 37%;
}
.num-2{
    margin-top: 10%;
}
.b-1{
    margin: 5%;
}